%section
  %form
    .row
      %fieldset
        %legend New Client Information
        .small-12.large-6.column
          %label
            Client First Name
            %input(type="text" placeholder="Client First Name")
        .small-12.large-6.column
          %label
            Client Last Name
            %input(type="text" placeholder="Client Last Name")
        .small-6.large-6.column
          %label
            Address
            %input(type="text" placeholder="Address (555 Main Street)")
        .small-6.large-6.column
          %label
            Address Cont'd
            %input(type="text" placeholder="Apt #1")
