.section.steel-blue.white-border-top
  .row.homepage-row
    %h2.secondary-header
      Managing Your Doggy Daycare Just Got Easier!
    %ul.upper-border{style: 'text-align: center;'}
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-address-book.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Organize Clients & Pets
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-calendar.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Schedule Appointments
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-mail.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Send Client Emails
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-clipboard-notes.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Keep Detailed Pet Notes
.section.light-grey.white-border-top
  .row
    .small-6.columns
      %h2 This is Why it Works
      %ul
        %li Stuff
        %li Stuff
        %li Stuff
    .small-6.columns
      %img.homepage-image(src="/tmp/little-pug-gratisography.png")
.section.white-border-top
  .row
    .small-6.columns
      %img.homepage-image(src="/tmp/bulldog-from-gratisography.png")
    .small-6.columns
      %h2 This is Why it Works
      %ul
        %li Stuff
        %li Stuff
        %li Stuff
.section.light-grey.white-border-top
  .row
    .small-6.columns
      %h2 This is Why it Works
      %ul
        %li Stuff
        %li Stuff
        %li Stuff
    .small-6.columns
      %img.homepage-image(src="/tmp/puppy-from-gratisography.png")
