.section
  .row
    .large-12.columns
      %h1
        %center
          HOMEPAGE BABY!
.intro-copy
  %h1 Hello Guys
  %p Lots of fun stuff here
  .div.button.secondary Buy Me
.section.foggy
  %img(src="/tmp/puppy-3.png" height="100px")
.section.dark-grey
  .row
    %h2.secondary-header
      This is where we describe what the app can do for businesses.
    %ul{style: 'text-align: center;'}
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-address-book.homepage-size
          %p{style: 'margin-top: -20px'}
            Organize Clients & Pets
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-calendar.homepage-size
          %p{style: 'margin-top: -20px'}
            Schedule Appointments
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-mail.homepage-size
          %p{style: 'margin-top: -20px'}
            Send Client Emails
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-clipboard-notes.homepage-size
          %p{style: 'margin-top: -20px'}
            Keep Detailed Pet Notes