%section
  %form
    .row
      %fieldset
        %legend New Customer Information
        .small-12.large-6.column
          %label
            First Name
            %input.radius(type="text" placeholder="Client First Name")
        .small-12.large-6.column
          %label
            Last Name
            %input.radius(type="text" placeholder="Client Last Name")
        .small-12.large-6.column
          %label
            Address
            %input.radius(type="text" placeholder="Address (555 Main Street)")
        .small-12.large-6.column
          %label
            Address Cont'd
            %input.radius(type="text" placeholder="Apt #1")
        .small-12.large-4.column
          %label
            City
            %input.radius(type="email" placeholder="City")
        .small-12.large-2.column
          %label
            State
            %input.radius(type="email" placeholder="State")
        .small-12.large-2.column
          %label
            Zip
            %input.radius(type="text" placeholder="55555")
        .small-12.large-4.column
          %label
            Phone
            %input.radius(type="text" placeholder="Include Hypens, example: 555-666-7777")
        .small-12.large-6.column
          %label
            Email
            %input.radius(type="email" placeholder="sally@example.com")
        .small-12.large-6.column
          %label
            Re-Enter Email
            %input.radius(type="email" placeholder="sally@example.com")
        .small-12.large-12.column.logout-zone
          = link_to "Create New Customer", nil, class: 'button radius'
