/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import 'foundation-icons';

.large-icon {
  font-size: 72px;
}

.homepage-size {
  font-size: 72px;
  color: white;
}

.homepage-size:hover + p {
  opacity: .8;
}

.homepage-size:hover {
  opacity: .8;
}

li p {
  color: white;
}

.medium-icon {
  font-size: 36px;
}

.small-icon {
  font-size: 18px;
}

.dark-grey {
  background: #323c41;
}

.light-blue {
  background: #333385;
  color: white;
}

.icon-bar.five-up .item {
  background-color: #333;
}